################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.sqlite
/.vs/VSWorkspaceState.json
/.vs/Dynamics-365
/TheYu/.vs/TheYu
/TheYu/packages
/TheYu/TheYu.Plugins/obj/Debug
/TheYu/TheYu.Plugins/bin/Debug
